<html>


	{% include 'header.html' %}

	<head>
	  <!-- Required meta tags -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <style type="text/css">
	  	.heading h2{
            text-align: center;
            color: #333;
        }
	  </style>

	</head>




	<body>

		<br><br><br>
		<div class="heading">
			<h2>Please try again with valid entries!</h2>
		</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<footer class="footer" style="background-color: #116466;">
		    <div class="footer-copyright text-center py-3">© 2020 Copyright:
		      <a href="index"> Mechcall.com</a>
		    </div>
		</footer>
	
	</body>



</html>